<footer class="footer is-centered">
    <div class="container">
        <div class="columns">
            <div class="column">

                {{#get "posts" limit="5" as |recent|}}
                    <section class="recent-posts">
                        <h3>Recent Posts</h3>
                        <ul>
                            {{#foreach recent}}
                                <li><a href="{{url}}">{{title}}</a></li>
                            {{/foreach}}
                        </ul>
                    </section>
                {{/get}}

            </div>
            <div class="column">
                {{#get "tags" limit="10" as |tags|}}
                    <section>
                        <h3>Tags</h3>
                        <ul>
                            {{#foreach tags}}
                                <li><a class="tag" href="{{url}}">{{name}}</a></li>
                            {{/foreach}}
                        </ul>
                    </section>
                {{/get}}
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column has-text-centered copyright">&copy; {{@site.title}} 2018-{{date format="YYYY"}}</div>
    </div>
</footer>

