<article class="card">
    {{#if feature_image}}
    <div class="card-image">
        <figure class="image ">
            <img src="{{feature_image}}" alt="{{title}}">
        </figure>
    </div>
    {{/if}}
    <div class="card-content">
        {{#if author.profile_image}}
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="{{author.profile_image}}" alt="Profile Image">
                    </figure>
                </div>
            </div>
        {{/if}}
        <div class="content">
            <h1 class="title is-4">{{title}}</h1>
            <p>
                {{#if meta_description}}
                    {{meta_description}}
                {{else}}
                    {{excerpt words="40"}}...
                {{/if}}
            </p>
            <p>
                {{author}} in {{tags}}
                on <time>{{date}}</time>
            </p>
        </div>
    </div>
</article>