<article class="card">
    {{#if feature_image}}
    <div class="card-image">
        <figure class="image ">
            <img src="{{feature_image}}" alt="{{title}}">
        </figure>
    </div>
    {{/if}}
    <div class="card-content">
        {{#primary_author}}
        {{#if profile_image}}
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="{{profile_image}}" alt="Profile Image">
                    </figure>
                </div>
            </div>
        {{/if}}
        {{/primary_author}}
        <div class="content">
            <h1 class="title is-4">{{title}}</h1>
            <p>
                {{#if meta_description}}
                    {{meta_description}}
                {{else}}
                    {{excerpt words="40"}}...
                {{/if}}
            </p>
            <p>
                {{#primary_author}}{{name}}{{/primary_author}} in {{tags}}
                on <time>{{date}}</time>
            </p>
        </div>
    </div>
</article>