{{!< default }}

{{#post}}

    <main class="post">
        <article class="container">
            <header>
                <section class="has-text-centered">
                    {{date format="MM-DD YYYY"}} / {{tags}}
                </section>
                <h1 class="has-text-centered">{{title}}</h1>
                <figure>
                    <img src="{{feature_image}}" alt="{{title}}">
                </figure>
            </header>
            <section class="content">
                {{content}}
            </section>
            <footer>
                {{#primary_author}}
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="column is-1">
                                <figure class="image is-48x48">
                                    <a href="{{url}}"><img src="{{profile_image}}" alt="{{name}}'s Picture"/></a>
                                </figure>
                            </div>
                            <div class="column">
                                <p class="has-text-weight-bold">{{name}}</p>
                                <p>{{bio}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth">
                        <div class="columns">
                            <div class="column"></div>
                            <div class="column">
                                <a class="button is-rounded" href="{{url}}">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/primary_author}}
            </footer>
        </article>
    </main>

{{/post}}